body {
  font-family: 'Ubuntu', serif;
  color: #A5A8B3; 
  background: -webkit-linear-gradient(#333642, #333642);
  background: -moz-linear-gradient(#333642, #333642);
}

a { color: #a5a8b3; text-decoration: underline; }
a:hover { text-decoration: none; }

h1, h2, ul {
  text-shadow: black 0 1px 1px;
  padding: 10px;
}

h1 {
  font-size: 26px;
}

.clear {
 clear: both;
}

#loader {
  width: 64px;
  height: 64px;
  position: absolute;
  margin-left: -32px;
  margin-top: -32px;
  top: 50%;
  left: 50%;
  display: none;
}

#container {
  margin: auto;
  width: 540px;
  border: 1px solid #20222B;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  background: #434654;  
}

#calculations {
  list-style-type: none;
}

#calculations li {
  border-top: dashed 1px black;
  padding: 5px;
}
