body { 
  color: #333; 
  
}

h1, h2, ul {
  padding: 10px;
}

h1 {
  font-size: 26px;
}

.clear {
 clear: both;
}

#loader {
  width: 64px;
  height: 64px;
  position: absolute;
  margin-left: -32px;
  margin-top: -32px;
  top: 50%;
  left: 50%;
  display: none;
}

#container {
  margin: auto;
  width: 540px;
  border: solid 1px black;
  margin-top: 20px;
  padding: 10px;
}

#calculations {
  list-style-type: none
}

#calculations li {
  border-top: dashed 1px black;
  padding: 5px;
}
