:plain
  <h1>Uus kalkulatsioon</h1>

  <table id="createForm">
    <tr>
      <td>Nimi:</td>
      <td><input id="name" type="text" required="required" /></td>
      <td>Intress:</td>
      <td><input id="interest" type="text" />%</td>
    </tr>
    <tr>
      <td>Summa:</td>
      <td><input id="starting_value" type="text" />€</td>
      <td>Kogus:</td>
      <td><input id="quantity" type="text" />x</td>
    </tr>
    <tr>
      <td>Aastad:</td>
      <td><input id="years" type="text" /></td>
      <td></td>
      <td><button id="calculate">Salvesta</button></td>
    </tr>
  </table>
  <br/>
  <div id="chart"></div>
  <br/>
<a href="#">↶ Tagasi</a>
