:plain
  <h1>Uus kalkulatsioon</h1>

  <table id="createForm">
    <tr>
      <td>Nimi:</td>
      <td><input id="name" type="text" /></td>
    </tr>
    <tr>
      <td>Intress:</td>
      <td><input id="interest" type="text" /></td>
    </tr>
    <tr>
      <td>Summa:</td>
      <td><input id="starting_value" type="text" /></td>
    </tr>
    <tr>
      <td>Kogus:</td>
      <td><input id="quantity" type="text" /></td>
    </tr>
    <tr>
      <td>Aastad:</td>
      <td><input id="years" type="text" /></td>
    </tr>
  </table>
  <button id="calculate">Salvesta</button>
  <div id="chart"></div>
<a href="#">Tagasi</a>
