:plain
  <h1>Vaata / Muuda</h1>

  <table id="editForm">
    <tr>
      <td>Nimi:</td>
      <td><input id="name" type="text" value="${old.get('name')}" /></td>
      <td>Intress:</td>
      <td><input id="interest" type="text" value="${old.get('interest')}" />%</td>
    </tr>
    <tr>
      <td>Summa:</td>
      <td><input id="starting_value" type="text" value="${old.get('starting_value')}" />€</td>
      <td>Kogus:</td>
      <td><input id="quantity" type="text" value="${old.get('quantity')}" />x</td>
    </tr>
    <tr>
      <td>Aastad:</td>
      <td><input id="years" type="text" value="${old.get('years')}" /></td>
      <td></td>
      <td><button id="updateBtn">Uuenda</button></td>
    </tr>
  </table>
  <br/>
  <div id="chart"></div>
  <br/>
<a href="#">↶ Tagasi</a>
