:plain
  <h1>Vaata / Muuda</h1>

  <table id="createForm">
    <tr>
      <td>Nimi:</td>
      <td><input id="name" type="text" value="${old.get('name')}" /></td>
    </tr>
    <tr>
      <td>Intress:</td>
      <td><input id="interest" type="text" value="${old.get('interest')}" /></td>
    </tr>
    <tr>
      <td>Summa:</td>
      <td><input id="starting_value" type="text" value="${old.get('starting_value')}" /></td>
    </tr>
    <tr>
      <td>Kogus:</td>
      <td><input id="quantity" type="text" value="${old.get('quantity')}" /></td>
    </tr>
    <tr>
      <td>Aastad:</td>
      <td><input id="years" type="text" value="${old.get('years')}" /></td>
    </tr>
  </table>
  <button id="updateBtn">Uuenda</button>
  <div id="chart"></div>
<a href="#">Tagasi</a>
