:plain
  <h1>ⅈntressikalkulaator</h1>

  <h2>Tehtud arvutused ▼</h2>
  <ul id="calculations">
  {{if models.length > 0}}
    {{each models}}
      <li id="${$value.get('id')}">
        <a href="#edit/${$value.get('id')}">${$value.get('name')}</a>
        <span style="float: right;">
          <button class="deleteBtn button">Kustuta</button>
        </span>
        <div class="clear"></div>
      </li>
    {{/each}}
  {{else}}
    Arvutusi pole!
  {{/if}} 
  </ul>
  <a href="#create">Lisa uus</a>
