#container
%img{ :id => "loader", :src => "images/loading.gif", :alt => "" }
  
%script{ :id => "index", :type => "text/html" }
  = render :partial => "ich/index.ich"
%script{ :id => "create", :type => "text/html" }
  = render :partial => "ich/create.ich"
