#container
%img{ :id => "loader", :src => "images/loading.gif", :alt => "" }
  
%script{ :id => "index-tmpl", :type => "text/html" }
  = render :partial => "jqt/index.jqt"
%script{ :id => "create-tmpl", :type => "text/html" }
  = render :partial => "jqt/create.jqt"
%script{ :id => "edit-tmpl", :type => "text/html" }
  = render :partial => "jqt/edit.jqt"
